{% extends "base.html" %}
{% block content %}

<h2> LEVEL 6 — Admin Portal</h2>

<div class="ascii-box">
    <img src="{{ url_for('static', filename='images/admin.png') }}" alt="The Archive Gate" style="width: 320px; height: auto;">
    <br><br>
    The final gate glows red.  
    Only a true administrator may pass…  
    or someone who can convince the database that they are one.
</div>

<form method="POST">
    <p>Username:</p>
    <input name="username">

    <p>Password:</p>
    <input name="password" type="password">

    <br><br>
    <button>Authenticate</button>
</form>

{% if error %}
    <p style="color:#f55; margin-top:10px;">{{ error }}</p>
{% endif %}

<div class="ascii-box" style="margin-top:20px; font-size:0.9rem;">
    Robot: Brute force won’t help you here.  
    The console listens to the <em>shape</em> of your input,  
    not just the letters you type.
</div>

{% endblock %}
