{% extends "base.html" %}
{% block content %}

<h2>🎉 LEVEL 2 COMPLETE</h2>

<div class="ascii-box">
    
    <img src="{{ url_for('static', filename='images/bridge.png') }}" alt="The Architect's Gate" style="width: 300px; height: auto;">
    <br>

    You bent the search engine to your will. Are you the chosen one at last...
    <br>
    <br>
    <b>Lisan al-Gaib</b>
    <br>
    <b>. . .</b>
    <br>
 

    The path glows again…<br>

        <br><b>~~~ !!!! Shadows !!!!~~~</b><br>
            You are here <br>
            The Walls whisper secrets.

    <br>
    Next Clue:
    "A truth or a lie will reveal the next rune."
    <br>
</div>

<p><a href="/blind?id=1">▶ Level 3: Blind SQL Injection</a></p>

{% endblock %}
